.DS_Store
/Data
/Outputs
Outputs/Models/trained/best-model.pth
*.pyc
.idea
runs
/utils/__pycache__/model.cpython-39.pyc
utils/__pycache__/*.pyc
/utils/__pycache__/__init__.cpython-39.pyc
/utils/__pycache__/config.cpython-39.pyc
/utils/__pycache__/test.cpython-39.pyc
/utils/__pycache__/train.cpython-39.pyc
/utils/__pycache__/visualize.cpython-39.pyc
